

body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: auto ;
  margin: auto;
  
}
.btn{
   color:rgb(29, 209, 0);
}




#card1{
  border-radius: 24px;
  background-color: rgb(255, 191, 15);
}
#card2{
  border-radius: 24px;
background: rgb(247, 140, 156);
}